__pycache__/
*.pyc
*.pyo
*.egg-info/
*.so
*.safetensors
*.pt
*.pth
*.bin
*.ckpt
*.pack
checkpoints/
sam2_models/
data/
experiments/
.DS_Store
vlm_gym/environments/tools/segment-anything-2/demo/
vlm_gym/environments/tools/segment-anything-2/notebooks/videos/
vlm_gym/environments/tools/segment-anything-2/sav_dataset/
vlm_gym/environments/tools/scienceqa_deepeyes/
vlm_gym/environments/tools/*_test_*/
vlm_gym/environments/tools/*_output/
*.jpg
*.png
*.mp4
